{% extends '_base.html' %}
{% load static %}
{% load leaflet_tags %}
{% load static crispy_forms_tags %}

{% block title %}Pothole Monitor{% endblock title %}

{% block content %}
    <h1>Potholes in Purworejo, Central Java</h1>

    <div class="row">
        <div class="col-lg-9 col-md-9 col-xs-12">
            {% leaflet_map "main" callback="main_map_init" %}
        </div>
        <div id="div-leaflet-control" class="col-lg-3 col-md-3 col-xs-12">
            <form id='pothole-search-form' method="get">
                <div id="div_id_lebar" class="form-group">
                    <label for="id_lebar" class=" requiredField">Width<span class="asteriskField">*</span> </label>
                    <div class="">
                        <select name="width" class="select form-control" required="" id="id_lebar">
                            <option value="all" selected="">All</option>
                            {% for WIDTH in POTHOLE_WIDTH %}
                                <option value="{{ WIDTH.0 }}">{{ WIDTH.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div id="div_id_kedalaman" class="form-group">
                    <label for="id_kedalaman" class=" requiredField">Depth<span class="asteriskField">*</span> </label>
                    <div class="">
                        <select name="depth" class="select form-control" required="" id="id_kedalaman">
                            <option value="all" selected="">All</option>
                            {% for DEPTH in POTHOLE_DEPTH %}
                                <option value="{{ DEPTH.0 }}">{{ DEPTH.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div id="div_id_response" class="form-group">
                    <label for="id_response" class=" requiredField">Response Time Needed<span class="asteriskField">*</span> </label>
                    <div class="">
                        <select name="response_time_needed" class="select form-control" required="" id="id_response">
                            <option value="all" selected="">All</option>
                            {% for RESPONSE in POTHOLE_RESPONSE %}
                                <option value="{{ RESPONSE.0 }}">{{ RESPONSE.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade bd-example-modal-lg" id="pothole-modal" role="dialog" aria-labelledby="pothole-modal-Label" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
              <div class="card">
                <div class="card-body">
                    <form id='pothole-form' method="post" enctype="multipart/form-data">
                        {% if form.non_field_errors %}
                            <ul>
                              {% for error in form.non_field_errors %}
                                <li>{{ error }}</li>
                              {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.media }}
                        {% crispy form %}
                    </form>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock content %}


{% block css %}
    {% leaflet_css %}
    <style>
        .leaflet-container {  /* all maps */
            height: 75vh;
        }

        #specialbigmap {
            height: 800px;
        }

    </style>
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}"/>
{% endblock css %}

{% block javascript %}
    {% leaflet_js %}
    <script src="{% static 'js/Leaflet.SvgShapeMarkers-gh-pages/dist/leaflet-svg-shape-markers.js' %}"></script>
    <script src="{% static 'js/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
    <script type="text/javascript">
            let POTHOLEPROP = {};

            let shape;
            let opacity;
            let color;
            {% for WIDTH in POTHOLE_WIDTH %}
                switch ('{{ WIDTH.0 }}') {
                    case '1':
                        shape = 'triangle-down';
                        break;
                    case '2':
                        shape = 'square';
                        break;
                    case '3':
                        shape = 'circle';
                        break;
                }

                POTHOLEPROP['{{ WIDTH.0 }}'] = {'value': shape};

                {% for DEPTH in POTHOLE_DEPTH %}
                    switch ('{{ DEPTH.0 }}') {
                        case '1':
                            opacity = 0.4;
                            break;
                        case '2':
                            opacity = 0.7;
                            break;
                        case '3':
                            opacity = 1;
                            break;
                    }

                    POTHOLEPROP['{{ WIDTH.0 }}']['{{ DEPTH.0 }}'] = {'value': opacity};

                    {% for RESPONSE in POTHOLE_RESPONSE %}
                        switch ('{{ RESPONSE.0 }}') {
                            case '1':
                                color = 'black';
                                break;
                            case '2':
                                color = 'red';
                                break;
                            case '3':
                                color = 'blue';
                                break;
                            case '4':
                                color = 'purple';
                                break
                        }

                        POTHOLEPROP['{{ WIDTH.0 }}']['{{ DEPTH.0 }}']['{{ RESPONSE.0 }}'] = {'value': color};
                    {% endfor %}
                {% endfor %}
            {% endfor %}

            function addPotholeToLayer(markers, data){
                var mark = data.success;
                $.each(mark.features, function (idx,val) {
                      var width = val.properties.width;
                      var depth = val.properties.depth;
                      var responseTimeNeeded = val.properties.response_time_needed;
                      var widthDisplay = val.properties.get_width_display;
                      var depthDisplay = val.properties.get_depth_display;
                      var responseTimeNeededDisplay = val.properties.get_response_time_needed_display;
                      var potholeId = val.properties.id;
                      var photo = val.properties.photo;
                      var geometry = val.geometry.coordinates;

                      circle = {
                          radius: 9,
                          shape: POTHOLEPROP[width]['value'],
                          fillOpacity: POTHOLEPROP[width][depth]['value'],
                          opacity: POTHOLEPROP[width][depth]['value'],
                          color: POTHOLEPROP[width][depth][responseTimeNeeded]['value'],
                          weight: 0,
                          potholeId: potholeId,
                          width: widthDisplay,
                          depth: depthDisplay,
                          responseNeeded: responseTimeNeededDisplay,
                          photo: photo,
                          clickable: true,
                      };

                      var popup = '<img src="' + circle.photo + '" width="210px">' +
                                    '<br/><b>Width:</b> ' + circle.width + '<br/><b>Depth:</b> ' + circle.depth +
                                    '<br/><b>Response Time Needed:</b> ' + circle.responseNeeded;
                      var marker = L.shapeMarker([geometry[1],geometry[0]], circle).bindPopup(popup).openPopup();

                      marker.addTo(markers);
                });
            }

            let holes = [];
            function main_map_init(map, options) {
                const PURWOREJO = new L.GeoJSON.AJAX("{% static 'purworejo_geojson.json' %}",{fillOpacity:0.2});
                PURWOREJO.addTo(map);
                let geom = [0, 0];
                let circle;
                var markers = L.markerClusterGroup();
                map.addLayer(markers);

                $.ajax({
                          type: "GET",
                          async: true,
                          url: "{% url 'pothole:pothole_list' %}?width=all&depth=all&response=all",
                          success: function (data) {
                              addPotholeToLayer(markers, data);
                          },
                          error: function (data) {
                              alert('Error loading Pothole!');
                          }
                        });

                {% if request.user.is_authenticated %}
                    map.on('click', function addMarker(e) {
                        // Add marker to map at click location; add popup window
                        $('#pothole-modal').modal('show');

                        $('#pothole-form').unbind('submit').bind('submit',function(eventSubmit) {
                            eventSubmit.preventDefault();

                            var formData = new FormData(this);
                            formData.append("geometry",
                                "{\"type\":\"Point\",\"coordinates\":["+e.latlng.lat+","+e.latlng.lng+"]}"
                            );

                            $.ajax({
                              type: "POST",
                              async: true,
                              url: "{% url 'pothole:pothole_create' %}",
                              processData: false,
                              contentType: false,
                              data: formData,
                              success: function (data) {
                                  addPotholeToLayer(markers, data);

                                  $('#pothole-modal').modal('hide');
                              },
                              error: function (data) {
                                  alert('Failed saving Pothole!')
                              }
                            });
                        });
                    });
                {% endif %}

                var legend = L.control({position: 'bottomleft'});
                legend.onAdd = function (map) {
                    var div = L.DomUtil.create('div', 'info-legend');
                    var labels = ['<strong>Width (Shape)</strong>'];

                    {% for WIDTH in POTHOLE_WIDTH %}
                        var shape = POTHOLEPROP['{{ WIDTH.0 }}']['value'];
                        var item = '';
                        if(shape==='triangle-down'){
                            item = '<i class="fa fa-caret-down" style="color:' + shape + '"></i> ' + ('{{ WIDTH.1 }}');
                        }
                        else{
                            item = '<i class="fa fa-'+ shape +'" style="color:' + shape + '"></i> ' + ('{{ WIDTH.1 }}');
                        }
                        div.innerHTML += labels.push(item);
                    {% endfor %}

                    div.innerHTML = labels.join('<br>');
                    return div;
                };
                legend.addTo(map);

                legend = L.control({position: 'bottomleft'});
                legend.onAdd = function (map) {
                    var div = L.DomUtil.create('div', 'info-legend');
                    var labels = ['<strong>Depth (Opacity)</strong>'];

                    {% for DEPTH in POTHOLE_DEPTH %}
                        var opacity = POTHOLEPROP['1']['{{ DEPTH.0 }}']['value']*100;
                        div.innerHTML +=
                        labels.push('<i class="fa fa-circle" style="opacity:' + opacity + '%"></i> ' + ('{{ DEPTH.1 }}'));
                    {% endfor %}

                    div.innerHTML = labels.join('<br>');
                    return div;
                };
                legend.addTo(map);

                legend = L.control({position: 'bottomleft'});
                legend.onAdd = function (map) {
                    var div = L.DomUtil.create('div', 'info-legend');
                    var labels = ['<strong>Response Time Needed (Color)</strong>'];

                    {% for RESPONSE in POTHOLE_RESPONSE %}
                        var color = POTHOLEPROP['1']['1']['{{ RESPONSE.0 }}']['value'];
                        div.innerHTML +=
                        labels.push('<i class="fa fa-circle" style="color:' + color + '"></i> ' + ('{{ RESPONSE.1 }}'));
                    {% endfor %}

                    div.innerHTML = labels.join('<br>');
                    return div;
                };
                legend.addTo(map);

                $('.info-legend').css( {'background':'white'});

                $('#id_lebar, #id_kedalaman, #id_response').on('change',function(eventSubmit) {
                        eventSubmit.preventDefault();

                        var width = $('#id_lebar').val();
                        var depth = $('#id_kedalaman').val();
                        var response = $('#id_response').val();

                        $.ajax({
                          type: "GET",
                          async: true,
                          url: "{% url 'pothole:pothole_list' %}?width="+width+'&depth='+depth+'&response='+response,
                          success: function (data) {
                              markers.clearLayers();
                              addPotholeToLayer(markers, data)
                          },
                          error: function (data) {
                              alert('Error loading Pothole!');
                          }
                        });
                });
            }
    </script>
{% endblock javascript %}
